<div class="logo-container">
  <a href="/">
    <img src="images/other/header.jpg" alt="Sara Freidoony Logo" class="logo">
  </a>
</div>

<header>
  <nav>
    <ul>
      <li><a href="/">Illustration</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Published</a>
        <div class="dropdown-content">
          <!-- <a href="books.html">Books</a> -->
          <a href="magazines.html">Magazines</a>
        </div>
      </li>
      <li><a href="sketchbook.html">Sketchbook</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>
</header>
